<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <title>Imaging sensitivity</title>
</head>

<center><h1>Image sensitivity at a specified pointing direction RA and DEC [deg]</h1></center>
<!-- <center><h2><FONT COLOR="#FF0000"><blink> {{ warning }} </blink></FONT><h2></center> -->

<p style="font-size:30px"><b><FONT COLOR="#FF0000">The imaging sensitivity was calculated under the following assumptions:</FONT></b></p>
<ul>
   <li><p style="font-size:24px" spacing="compact"><FONT COLOR="#FF0000">The specified direction RA and DEC [deg] is tracked at the pointing centre</FONT></p></li>
   <li><p style="font-size:24px" spacing="compact"><FONT COLOR="#FF0000">The natural weighting was used in imaging</FONT></p></li>
   <li><p style="font-size:24px" spacing="compact"><FONT COLOR="#FF0000">Only the thermal noise is accounted for (skay and instrumental noise), whilst confusion noise is not included</FONT></p></li>
</ul>   

<!-- <h2 style="font-size:10vw">Expected sensitivity in X, Y and Stokes I images is:</h2> -->
<p style="font-size:30px"><b>Expected sensitivities in X, Y and Stokes I images in natural weighting are:</b></p>
<ul>
   <li><p style="font-size:24px" spacing="compact">X polarisation image noise = {{ noise_x_str }} </p></li>
   <li><p style="font-size:24px" spacing="compact">Y polarisation image noise = {{ noise_y_str }} </p></li>
   <li><p style="font-size:24px" spacing="compact"><b>Stokes I polarisation image noise = {{ noise_i_str }} <b><p></li>
</ul>

<br>
<br>
<hr>
<br>
<br>


<center><h1>Sensitivity (A/T [m^2/K]) as a function of Hour Angle (HA) or local sidereal time (LST)</center></h1>
<!-- works : see https://stackoverflow.com/questions/52368870/display-matplotlib-image-on-html-page-using-django -->
<centre>
<img src= {{ image }} /> 
<!--  <a href= {{ zipfile }} >results in zip file</a>  -->
</centre>

</body>
</html>
