<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <title>Imaging sensitivity</title>
</head>


<h1>Image sensitivity at a specified pointing direction (RA,Dec) [deg]</h1>

<!-- <h2 style="font-size:10vw">Expected sensitivity in X, Y and Stokes I images is:</h2> -->
<p style="font-size:30px">Expected sensitivity in X, Y and Stokes I images is:</p>
<ul>
   <li><p style="font-size:24px">X polarisation image noise = {{ noise_x }} [mJy] </p></li>
   <li><p style="font-size:24px">Y polarisation image noise = {{ noise_y }} [mJy] </p></li>
   <li><p style="font-size:24px"><b>Stokes I polarisation image noise = {{ noise_i }} [mJy]<b><p></li>
</ul>


<!-- works : see https://stackoverflow.com/questions/52368870/display-matplotlib-image-on-html-page-using-django -->
<img src= {{ image }} /> 
<!--  <a href= {{ zipfile }} >results in zip file</a>  -->

</body>
</html>
