<h1>SKA-Low station sensitivity</h1>
This service allows to calculate SKA-Low station sensitivity (A/T [m^2/K]) using EDA2 and AAVS2 prototype station simulations.<br>
Please, select from the following options:

<ul>
  <li><a href="sensitivity_vs_freq">Sensitivity vs. frequency at a given pointing direction and LST</a></li>
  <li><a href="sensitivity_map">All-sky sensitivity map for a given frequency and LST</a></li>
  <li><a href="sensitivity_vs_lst">Sensitivity A/T [m^2/K] vs. lst</a></li>
</ul> 







