<h1>SKA-Low station sensitivity</h1>
This service allows to calculate SKA-Low station sensitivity (A/T [m^2/K]) using EDA2 and AAVS2 prototype station simulations.<br>
Please, select from the following options (LST is local sidereal time):

<ul>
  <li><b>Imaging sensitivity and A/T [m^2/K] vs. LST for a source at a specified (RA,DEC) [deg] position and range of Hour Angle [hours]</b></li>
      <ul>
         <li><a href="sensitivity_radec_astro">Imaging sensitivity for a source at a specified (RA,DEC) [deg] position and range of Hour Angle [hours]</a></li>
      </ul><br><br>

  <li><b>Sensitivity A/T [m^2/K] vs. frequency:</b></li>
      <ul>
         <li><a href="sensitivity_vs_freq">At a specified LST and pointing direction (Azimuth,Elevation [deg]):</a></li>
         <li><a href="sensitivity_radec_vs_freq">At a specified LST and pointing direction (Right ascension,Declination [deg]):</a></li>
      </ul><br><br>

  <li><b>Sensitivity A/T [m^2/K] at a specified frequency and pointing direction vs. LST:</b></li>
      <ul>
      <li><a href="sensitivity_vs_lst">Sensitivity A/T [m^2/K] at a specified frequency and pointing direction (Azimuth,Elevation [deg]) vs. LST:</a></li>      
      <li><a href="sensitivity_radec_vs_lst">Sensitivity A/T [m^2/K] at a specified frequency and pointing direction (Right ascension,Declination [deg]) vs. LST:</a></li>
      </ul><br><br>
  <li><b>All-sky sensitivity (A/T [m^2/K]) maps</b></li>
      <ul>
      <li><a href="sensitivity_map">All-sky sensitivity map for a given frequency and LST</a></li><br><br>
      </ul><br><br>
</ul> 







