<h1><center>SKA-Low sensitivity calculator (version 1.00)</center></h1>
This service allows users to calculate SKA-Low station sensitivity (A/T [m<sup>2</sup>/K]) and expected imaging noise using EDA2 and AAVS2 prototype station simulations, as described in Sokolowski et al. PASA, 2022.<br>


<!-- <hr> -->
<h2><u>Select from the following options (where LST is Local Sidereal Time):</u></h2>
<a href="sensitivity_radec_astro">Imaging sensitivity of the SKA-Low telescope and sensitivity A/T [m<sup>2</sup>/K] of a single station as a function of LST (or Hour Angle) [hours] for a source at a specified RA and DEC [deg] position and a range of Hour Angle [hours]</a><br>
The assumptions in regards to calculation of the imaging noise (natural weighting etc.) will be listed on the output page.<br>

<!-- <ul>
  <li><b>Imaging sensitivity of the SKA-Low telescope and sensitivity A/T [m<sup>2</sup>/K] of a single station as a function of LST (or Hour Angle) [hours] for a source at a specified RA and DEC [deg] position and a range of Hour Angle [hours]</b></li>
      <ul>
         <li><a href="sensitivity_radec_astro">Imaging sensitivity for a source at a specified RA and DEC [deg] and Hour Angle [hours] range</a></li>
      </ul><br><br>
</ul> -->

<br>

<!-- <hr> -->

<h2><u>Select from the following options to calculate sensitivity of an individual SKA-Low station:</u></h2>
<ul>
  <li><b>Sensitivity A/T [m<sup>2</sup>/K] of a single station as a function of frequency:</b></li>
      <ul>
         <li><a href="sensitivity_vs_freq">At a specified LST and pointing direction in Azimuth and Elevation [deg]:</a></li>
         <li><a href="sensitivity_radec_vs_freq">At a specified LST and pointing direction in RA and DEC [deg]:</a></li>
      </ul><br><br>

  <li><b>Sensitivity A/T [m<sup>2</sup>/K] of a single station as a function Local Sidereal Time (LST):</b></li>
      <ul>
      <li><a href="sensitivity_vs_lst">At a specified frequency and pointing direction in Azimuth and Elevation [deg] as a function of LST:</a></li>      
      <li><a href="sensitivity_radec_vs_lst">At a specified frequency and pointing direction in RA and DEC [deg] as a function of LST:</a></li>
      </ul><br><br>

  <li><b>All-sky sensitivity (A/T [m<sup>2</sup>/K]) maps (for a single station)</b></li>
      <ul>
      <li><a href="sensitivity_map">All-sky sensitivity map for a specific frequency and Local Sidereal Time</a></li><br><br>
      </ul><br><br>
</ul> 







