<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <title>Sensitivity all-sky map</title>
</head>


<h1>Sensitivity all-sky map at a specified LST = {{ lst }} [hours] and frequency = {{ frequency }} [MHz] </h1>

<!-- works : see https://stackoverflow.com/questions/52368870/display-matplotlib-image-on-html-page-using-django -->
<img src= {{ image_x }} width="800"  /> 
<img src= {{ image_y }} width="800"  /> 
<img src= {{ image_i }} width="800"  /> 
<!--  <a href= {{ zipfile }} >results in zip file</a>  -->

</body>
</html>
